<% content_for :title do %>
  Admin Login
<% end %>

<%= render "shared/admin_nav" %>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-4 col-lg-8 col-sm-offset-4">
      <div class="card">
        <h3 class="text-center">Update Your Account</h3>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="form-group">
              <small class="text-muted">Name</small><br>
              <%= f.text_field :name, autocomplete: "off", placeholder: 'Your name', class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group mt-2">
              <small class="text-muted">Contact</small><br>
              <%= f.text_field :contact, autocomplete: "off", placeholder: 'Contact number', class: 'form-control' %>
            </div>

            <div class="form-group mt-2">
              <small class="text-muted">Address</small><br>
              <%= f.text_field :address, autocomplete: "off", placeholder: 'Your address', class: 'form-control' %>
            </div>

            <div class="form-group mt-2">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
            </div>

            <div class="form-group mt-2">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
            </div>

            <div class="form-group mt-2">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
            </div>

            <div class="form-group mt-2">
                <%= button_tag 'Update',
                class: 'btn btn-orange btn-block btn-lg', 
                data: { disable_with: "<i class='fas fa-spinner'></i> Updating ..."} %>
            </div>

            <div class="mt-2 text-center">
              <small>
                <%= link_to "Back To Dashboard", dashboard_path, :class=>"text-muted"%>
              </small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
