<nav class="navbar navbar-expand-lg navbar-light bg-orange shadow justify-content-md-center justify-content-start fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <%= image_tag("cart.png", :size=>"40x40")%> Fashion Zone BD
      </a>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <%= link_to dashboard_path, :class=>"nav-link #{'active' if controller_name == 'pages'}" do %>
          <i class="fa-solid fa-house-chimney-crack"></i> Home</span>
        <% end %>
        <li class="nav-item">
          <%= link_to products_path, :class=>"nav-link #{'active' if controller_name == 'products'}" do %>
            <i class="fa-solid fa-box"></i> Products
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to categories_path, :class=>"nav-link #{'active' if controller_name == 'categories'}" do %>
            <i class="fa-solid fa-chart-simple"></i> Categories
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-screwdriver-wrench"></i> Super Admin</a>
        </li>
        <li class="nav-item">
          <%= link_to  edit_user_registration_path, :class=>"nav-link" do %>
            <i class="fa-solid fa-circle-user"></i> Account Settings
          <% end %>
        </li>
        <%= button_to destroy_user_session_path, :class=>"btn btn-light btn-rounded mt-1", method: :delete do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out
        <% end %>
      </ul>
    </div>
  </div>
</nav>