
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <small class="text-muted">Name</small><br>
    <%= f.input :name, placeholder: "Category name", label: false %>

    <div class="mt-2">
      <small class="text-muted">Description</small><br>
      <%= f.input :description,label: false, placeholder: "Category description", input_html: {rows: 6} %>
    </div>
    <%= f.association :user, as: :hidden  %>
  </div>

  <div class="form-action mt-2 pt-2">
    <%= button_tag 'Save',
      class: 'btn btn-orange btn-block btn-lg', 
      data: { disable_with: "<i class='fas fa-spinner'></i> Saving ..."} %>
  </div>

  <div class="mt-2 text-center">
    <small>
      <%= link_to "Back To Categories", categories_path, :class=>"text-muted"%>
    </small>
  </div>
<% end %>
