<% content_for :title do %>
  <%= @product.name %>
<% end %>

<% if user_signed_in? %>
  <%= render "shared/admin_nav" %>
<% else %>
  <%= render "shared/public_nav" %>
<% end %>

  <div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-sm-12">
        <div class="card mt-4">
          <div class="ms-4">
            <%= link_to products_path, :class=>"btn btn-light" do %>
              <i class="fas fa-arrow-left"></i>
            <% end %>
            <span class="h4 text-muted mb-5 fw-bold ms-2"><%= @product.name %></span>
          </div>
          <hr class="style3">
          <div class="card-body">
            <table class="table text-muted">
              <tbody>
                <tr>
                  <td><i class="fa-solid fa-hashtag"></i> ID</td>
                  <td><%= @product.id %></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-boxes-stacked"></i> Category</td>
                  <td><%= link_to @product.category.name, @product.category %></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-camera"></i> Image</td>
                  <td><%= image_tag(@product.image, :size=>"220x220")%></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-sack-dollar"></i> Price (Before)</td>
                  <td>BDT <strike><%= @product.before_price %></td></strike>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-sack-dollar"></i> Price (After)</td>
                  <td>BDT <%= @product.after_price %></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-calendar-days"></i> Created AT</td>
                  <td><%= @product.created_at.strftime("%B, %d, %Y") %></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-signal"></i> Availiability</td>
                  <td>
                    <% if @product.availiability == "In Stock" %>
                      <span class="badge rounded-pill badge-primary pt-2"><%= @product.availiability %></span>
                    <% else %>
                      <span class="badge rounded-pill badge-danger pt-2"><%= @product.availiability %></span>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <span class="badge badge-success">Product Description</span><br>
            <small class="text-muted text-justify"><%= sanitize @product.description %></small>

            <% if user_signed_in? %>
              <div class="text-center mt-2">
                <%= link_to products_path, :class=>"btn btn-dark" do %>
                  <i class="fa-solid fa-arrow-left-long me-1"></i> Back
                <% end %>

                <%= link_to edit_product_path(@product), :class=>"btn btn-warning" do %>
                  <i class="fa-solid fa-pencil me-1"></i> Edit
                <% end %>

                <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                  Delete <i class="fa-solid fa-trash-can ms-1"></i>
                </button>

                <%= link_to new_product_path, :class=>"btn btn-success" do %>
                  New <i class="fa-solid fa-arrow-right-long ms-1"></i>
                <% end %>

                <!------------------------- MODAL ----------------------->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          After you delete the product, you can't restore it.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                          <%= link_to product_path, method: :delete, :class=>"btn btn-danger" do %>
                            Delete
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <!------------------------/ MODAL ----------------------->
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

